<ion-header>
  <ion-navbar>
    <ion-title>
      Menu
    </ion-title>
    <img>
  </ion-navbar>
</ion-header>

<ion-content padding class="background">
 
<ion-list>
  <ion-item *ngFor="let item of products" (click)="openDetails(item)">
    
    <ion-thumbnail item-start>
      <img src="{{ item.image }}">
    </ion-thumbnail>
    <h2>{{ item.title }}</h2>
    <span item-end>></span>

  </ion-item> 
</ion-list>
</ion-content>
