page-home {
    .background, .background .pane, .background .item, .background .item-complex .item-content{
        // background-color: #aaa;
       // background-image: url('../../assets/imgs/background.png');
    }
   
    ion-thumbnail img {
        max-width: 55px;
        width: auto !important;
        height: auto !important;
        margin-top:15px;
    }
    item-end {
        font-size: 50px !important;
    }
    ion-button, item-button {
        min-height: 70px !important;
    }
    label-md {
        margin: 0 !important;
    }
}
