page-details {

    .transparent {
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
    }

    .size0 {
        width: 15px;
    }

    .size1 {
        width: 20px;
    }

    .size2 {
        width: 30px;
    }

    .floatLeft {
        float: left;
    }

}
