<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>{{item.title}}</h3>
  <p>200 ml</p> 
  <ion-thumbnail item-start>
      <img class="size0 floatLeft {{ item.size != '0' ? 'transparent': '' }}" src="../../assets/imgs/cup.png">
      <img class="size1 floatLeft {{ item.size != '1' ? 'transparent': '' }}" src="../../assets/imgs/cup.png">
      <img class="size2 floatLeft {{ item.size != '2' ? 'transparent': '' }}" src="../../assets/imgs/cup.png">
    </ion-thumbnail>
  <p>Tamanho</p>
  <p>Açucar</p>
  <p>Adicionais</p>
  <p>Quantidade</p>
  <button (click)="openCart()" padding>Colocar no Carrinho</button>
</ion-content>
